</main>

<!-- FOOTER -->
<footer>
  <nav class="footer-nav">
    <ul class="menu-items">
      <li class="">Navigation</li>
      <li class="menu-item"><a class="link" href="/">home</a></li>
      <li class="menu-item"><a class="link" href="services">services</a></li>
      <li class="menu-item"><a class="link" href="projects">projects</a></li>
      <li class="menu-item"><a class="link" href="about">about</a></li>
    </ul>
  </nav>

  <ul class="menu-items">
    <li class="">Support</li>
    <li class="menu-item"><a class="link" href="">privacy policy</a></li>
    <li class="menu-item"><a class="link" href="">partner</a></li>
    <li class="menu-item"><a class="link" href="contact">contact</a></li>
  </ul>

  <ul class="social">
    <li class="">Social links</li>
    <li class="menu-item"><a class="" href=""><i class="fa fa-facebook"></i></a></li>
    <li class="menu-item"><a class="" href=""><i class="fa fa-instagram"></i></a></li>
    <li class="menu-item"><a class="" href=""><i class="fa fa-twitter"></i></a></li>
    <li class="menu-item"><a class="" href=""><i class="fa fa-linkedin"></i></a></li>
  </ul>
</footer>
<!-- End of Footer Section -->

<div class="back-to-top">
  <a href="#top" class="flex">
    <i class="fa fa-angle-up"></i>
  </a>
</div>
</div>


<!-- SCRIPT -->
<script src="./dist/app.build.js"></script>
</body>

</html>