<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <meta name="description"
    content="Exclusive construction planning and execution in Nigeria leveraging technology and access to high quality building materials">
  <meta name="keywords"
    content="construct porta cabins, civil engineering, structural design, architecture, Nigeria, Nigerian, solar power, panel, material, sourcing, construction">
  <title><%= title %></title>
  <!-- CSS Files -->
  <link rel="stylesheet" href="./dist/style.css">
  <!-- Load FontAwesome 4.7.0 from CDN with JS -->
  <script src="https://use.fontawesome.com/3a2128a0d2.js"></script>
</head>

<body>
  <input type="text" id="page" value="home" hidden>
  <!-- Back To Top Target -->
  <div id="top"></div>
  <!-- Application Wrappper -->
  <div id="wrapper">
    <nav id="top-contact-nav">
      <!-- Some contact info go here. E.g. email, social icons and mobile number -->
      <div class="phone-email">
        <div class="contact-phone">
          <i class="fa fa-phone"></i>
          <span>+2348157763833</span>
        </div>

        <div class="contact-email">
          <i class="fa fa-envelope"></i>
          <span>
            info@interserveconstruction.com.ng
          </span>
        </div>
      </div>

      <div id="top-social-links" class="right-col social-links">
        <a href="https://www.facebook.com" target="\_blank" rel="nonopener" rel="nonreferer"><i
            title="follow on facebook" class="fa fa-facebook"></i></a>
        <a href="https://www.twitter.com" target="\_blank" rel="nonopener" rel="nonreferer"><i title="follow on twitter"
            class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com" target="\_blank" rel="nonopener" rel="nonreferer"><i
            title="follow on linkedin" class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com" target="\_blank" rel="nonopener" rel="nonreferer"><i
            title="follow on instagram" class="fa fa-instagram"></i></a>
      </div>
    </nav>



    <!-- Header Section -->
    <header>
      <!-- Main Navigation Section -->
      <nav id="main-nav" class="flex flex-row">
        <a href="./" id="logo">Interserve<br>construction
        </a>

        <!-- Hamburger Icon -->
        <div id="main-hamburger" class="hamburger" title="Toggle Menu">
          <div class="bar bar-1"></div>
          <div class="bar bar-2"></div>
          <div class="bar bar-3"></div>
        </div>

        <ul id="main-menu" class="menu">
          <li class="menu-item"><a href="./"><i class="fa fa-home"></i> <span>Home</span></a></li>
          <li class="menu-item"><a href="services"><i class="fa fa-superpowers"></i> <span>Services</span></a></li>
          <li class="menu-item"><a href="projects"><i class="fa fa-building"></i> <span>Projects</span></a></li>
          <!-- <li class="menu-item"><a href="estimates"><i class="fa fa-bar-chart"></i> <span>Find Estimate</span></a></li> -->
          <li class="menu-item"><a href="contact"><i class="fa fa-map-signs"></i> <span>Contact</span></a></li>
          <li class="menu-item"><a href="about"><i class="fa fa-briefcase"></i> <span>About</span></a></li>
          <li class="menu-item"><span class="show-quotation btn-full-width">Get Quote</span></li>
          <!-- <li class="menu-item"><a href="blog"><i class="fa fa-globe"></i> <span>Blog</span></a></li> -->
          <!-- <li class="menu-item"><a href=""><a href="">MENU <i class="fa fa-caret-down"></i></a></li> -->
        </ul>
      </nav>
      <!-- End of Main Navigation Section -->