<%- include('./includes/header'); -%>
<input type="text" id="page" value="home" hidden>

<!-- Banner Section -->
<div id="page-banner" class="flex flex-column">
    <h1 class="title">We <span>breed</span> excellence.</h1>
</div>
<!-- End of Banner Section -->
</header>
<!-- End of Header Section -->


<!-- Main Section -->
<main>
    <div id="about-us">
        <article id="who-we-are">
            <h1 class="section-title">Who We Are</h1>
            <p class="description">
                Interserve construct is a new-age multi-disciplined construction and outsourcing company, highly
                driven by innovations, delivering projects in civil, architectural, porta cabin and cold room
                construction in Nigeria and Africa at large. We undertake new-build and refurbishment schemes of
                the aforementioned. Our services include construction, consulting, and project management and
                supervision.
            </p>
        </article>

        <article id="how-we-came-this-far">
            <h1 class="section-title">how we came this far.</h1>
            <p class="description">We never believed for a day that quality is only attainable with a large
                budget. We built our business model around quality at a truly affordable cost. This led us to
                embrace innovation: finding cost effective ways to deliver the finest of services. Having held
                on to this ideal, in a little over two years, we’ve grown from a vibrant start-up to a fast
                growing construction firm in a fast paced and competitive industry, intent on leveraging the
                latest technology to deliver sturdy and reliable infrastructure, cost-effectively across various
                sectors.</p>
        </article>

        <article id="how-we-came-this-far">
            <h1 class="section-title">our mission</h1>
            <p class="description">
                Providing cost effective services based on efficiency whilst maintaining quality.
            </p>
        </article>

        <article id="how-we-came-this-far">
            <h1 class="section-title">our vision</h1>
            <p class="description">
                To perform highest level of quality construction services at a fixed and market competitive prices.
            </p>
            <p class="description">
                To maintain highest level of professionalism, integrity, honesty and fairness in our relationship with
                clients, suppliers and professional associates.
            </p>
        </article>
    </div>


    <%- include('./includes/footer'); -%>