<%- include('./includes/header'); -%>
<input type="text" id="page" value="contact-success" hidden>

<!-- Banner Section -->
<div id="contact-success" class="flex flex-column">
    <h1 class="title">Thank you for contacting us.</h1>
    <hp class="title">We've received your message! A representative shall contact you shortly.</p>
</div>
<!-- End of Banner Section -->



<%- include('./includes/footer'); -%>