<%- include('./includes/header'); -%>

<!-- Banner Section -->
<div id="page-banner" class="flex flex-column">
	<h1 class="title">404 Not Found</h1>
</div>
<!-- End of Banner Section -->
</header>

<!-- End of Header Section -->


<!-- Main Section -->
<main>

	<!-- Proudly Trusted by industry drivers -->
	<article>
		<section id="not-found" class="section-body">
			<h2 class="descrition">We searched everything, chief. We couldn't find what you want to see. If you think the url
				(<%= url %>)
				is correct, please contact <a href='/support' class='link'>support</a> for assistance. Back to <a href='/'
					class='link'>homepage</a>?</h2>
			</secton>
	</article>


	<%- include('./includes/footer'); -%>